	
	// Import compass and dependencies
	@import "compass";
	@import "breakpoint";

	// Sassy parts
	@import "_mixins.scss";
	@import "_variables.scss";

	// Layout components
	@import "_navigation.scss";
	@import "_footer.scss";

	html {
	}

	body {
		font-family: Georgia, serif;
		color: #666;
	}
	
	a {
		color: $blue;
		text-decoration: none;
		&:visited {
			color: $green;
		}
	}

	.container {
		max-width: 34em;
		margin: 0 auto;
	}
